<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INKABUSINESS</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="./css/productos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html"><img src="img/inka.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <span class="navbar-text">
              <a style="color: yellow;" class="login" href="#">Iniciar Sesión</a>
            </span>
          </div>
        </div>
      </nav>

      <br><br>
      <h1 class="caja">LICORES</h1>

      <!-- PRODUCTOS -->
  
      <div class="card">
  
        <div class="card-group" style="width: 60rem;">
          <div class="card">
            <img src="img/licores/l1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CERVEZA</h5>
              <p class="card-text">S/. 9,90</p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
  
          </div>
          <div class="card" style="width: 60rem;">
            <img src="img/licores/l2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PISCO</h5>
              <p class="card-text">S/. 28,90</p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>
  
          <div class="card" style="width: 60rem;">
            <img src="img/licores/l3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">RON CARTAVIO</h5>
              <p class="card-text">S/. 72.90</p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>
        </div>
  
        <div class="card-group" style="width: 60rem;">
          <div class="card">
            <img src="img/licores/l4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">VODKA</h5>
              <p class="card-text">S/. 18,50</p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
  
          </div>
          <div class="card" style="width: 60rem;">
            <img src="img/licores/l5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">VERMUT</h5>
              <p class="card-text">S/. 60,00</p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>
  
          <div class="card" style="width: 60rem;">
            <img src="img/licores/l6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">VINO TINTO</h5>
              <p class="card-text">S/. 20,90</p>
              <a href="#" class="btn btn-primary">Añadir al carrito</a>
            </div>
          </div>
        </div>
  
      </div>
  
      <br>
      <br>
      <br>
      
    <!-- FOOTER -->

    <div class="footer">
      <footer class="bg-dark text-center text-lg-start">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      
              <ul class="list-unstyled mb-0">
                <li>
                  <h6 style="color: #D4AC0D;">Comunícate con nostros:</h6>
                </li>
                <li>
                  <h6 style="color: #D4AC0D;">Lima y Provincias
                  <br> (01) 987 65432</h6>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      
              <ul class="list-unstyled mb-0">
                <li>
                  <h6 style="color: #D4AC0D;">Sobre Nosotros</h6>
                </li>
                <li>
                  <a style="text-decoration: none; color: #D4AC0D;" href="etc/nosotros.html" target="_blank">Conócenos</a>
                </li>
                <li>
                  <h6 style="color: #D4AC0D;">Síguenos en:</h6>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      
              <ul class="list-unstyled mb-0">
                <li>
                  <h6 style="color: #D4AC0D; margin: 0 -65px;">Ayuda y Contacto</h6>
                </li>
                <li>
                  <a style="text-decoration: none; color: #D4AC0D; margin: 0 -65px;" href="etc/libro.html" target="_blank">Libro de Reclamaciones</a>
                </li>
                <li>
                  <a style="text-decoration: none; color: #D4AC0D; margin: 0 -65px;" href="etc/tyc.html" target="_blank">Términos y condiciones</a>
                </li>
              </ul>
            </div>

            <ul class="list-unstyled mb-0">
              <li>
                <img class="img" src="img/inka.png" alt="">
              </li>
              <br>
              <br>
            </ul>
          </div>
          </div>
        </div>

        <div class="redes">
          <a href="#"><img src="img/facebook.png" alt=""></a>
        </div>

        <div class="redes2">
          <a href="#"><img src="img/instagram.png" alt=""></a>
        </div>

        <div class="redes3">
          <a href="#"><img src="img/twiter.png" alt=""></a>
        </div>
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(36, 35, 35);">
          <h6 style="color: #ffffff; margin: 0px;">© 2022 Copyright: Inkabusiness.com</h6>
        </div>
        <!-- Copyright -->
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  
  </body>
</html>