<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INKABUSINESS</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><img src="../img/inka.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <span class="navbar-text">
              <a style="color: yellow;" class="login" href="#">Iniciar Sesión</a>
            </span>
          </div>
        </div>
      </nav>

      <div>
        <img src="../img/banner.jpg" alt="">
    </div>

    <br><br>
    <h3 class="tittle">TÉRMINOS Y CONDICIONES</h3>
    <br>
    <h4>INFORMACIÓN RELEVANTE</h4>
    <p>Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, 
        que lea y acepte los siguientes <br> Términos y Condiciones que a continuación se redactan. 
        El uso de nuestros servicios así como la compra de nuestros <br> productos implicará que usted 
        ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. <br> Todas los 
        productos  que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas 
        o presentadas por <br> una página web tercera y en tal caso estarían sujetas a sus propios Términos
         y Condiciones. En algunos casos, para adquirir <br> un producto, será necesario el registro por 
         parte del usuario, con ingreso de datos personales fidedignos y definición de una <br> contraseña.
        El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en 
        cualquier momento, en <br> caso de que se haya registrado y que sea necesario para la compra de 
        alguno de nuestros productos. inkabusiness.com.pe no <br> asume la responsabilidad en caso de que 
        entregue dicha clave a terceros.
        Todas las compras y transacciones que se lleven a cabo <br> por medio de este sitio web, están 
        sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación 
        del stock <br> y disponibilidad de producto, validación de la forma de pago, validación de la factura 
        (en caso de existir) y el cumplimiento de las <br> condiciones requeridas por el medio de pago 
        seleccionado. En algunos casos puede que se requiera una verificación por medio de correo <br>
        electrónico.      
        Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las 
        compras realizadas en este sitio web.</p>

        <br>
        <h4>LICENCIA</h4>
        <p>INKABUSINESS  a través de su sitio web concede una licencia para que los usuarios utilicen  
            los productos que son vendidos en este sitio web <br> de acuerdo a los Términos y Condiciones 
            que se describen en este documento.</p>

        <br>
        <h4>USO NO AUTORIZADO</h4>
        <p>En caso de que aplique (para venta de software, templetes, u otro producto de diseño y 
            programación) usted no puede colocar uno de <br> nuestros productos, modificado o sin modificar, 
            en un CD, sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa <br> de 
            ningún tipo.</p>

        <br>
        <h4>PROPIEDAD</h4>
        <p>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, 
            modificado o sin modificar. <br> Todos los productos son propiedad  de los proveedores del 
            contenido. En caso de que no se especifique lo contrario, <br> nuestros productos se proporcionan  
            sin ningún tipo de garantía, expresa o implícita. En ningún esta compañía será <br> responsables 
            de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales, 
            fortuitos o consecuentes <br> u otras pérdidas resultantes del uso o de la imposibilidad de 
            utilizar nuestros productos.</p>

        <br>
        <h4>POLÍTICA DE REEMBOLSO Y GARANTÍA</h4>
        <p>En el caso de productos que sean  mercancías irrevocables no-tangibles, no 
            realizamos reembolsos después de que se envíe el producto, <br> usted tiene la 
            responsabilidad de entender antes de comprarlo.  Le pedimos que lea cuidadosamente 
            antes de comprarlo. Hacemos solamente <br> excepciones con esta regla cuando la descripción 
            no se ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad <br> 
            de reembolso pero este será especificado al comprar el producto. En tales casos la garantía 
            solo cubrirá fallas de fábrica y sólo se hará efectiva <br> cuando el producto se haya usado 
            correctamente. La garantía no cubre averías o daños ocasionados por uso indebido. 
            Los términos de la garantía <br> están asociados a fallas de fabricación y funcionamiento 
            en condiciones normales de los productos y sólo se harán efectivos estos términos si 
            el equipo <br> ha sido usado correctamente. Esto incluye: <br>

            <br>
            – De acuerdo a las especificaciones técnicas indicadas para cada producto. <br>
            – En condiciones ambientales acorde con las especificaciones indicadas por el fabricante. <br>
            – En uso específico para la función con que fue diseñado de fábrica. <br>
            – En condiciones de operación eléctricas acorde con las especificaciones y tolerancias indicadas.</p>


        <br>
        <h4>COMPROBACIÓN ANTIFRAUDE</h4>
        <p>La compra del cliente puede ser aplazada para la comprobación antifraude. 
            También puede ser suspendida por más tiempo <br> para una investigación más rigurosa, 
            para evitar transacciones fraudulentas.</p>

        <br>
        <h4>PRIVACIDAD</h4>
        <p>Este inkabusiness.com.pe garantiza que la valencia cf noticias información personal 
            que usted envía cuenta con la seguridad necesaria. <br> Los datos ingresados por usuario 
            o en el caso de requerir una validación de los pedidos no serán entregados a terceros, 
            salvo que deba <br> ser revelada en cumplimiento a una orden judicial o requerimientos legales.
            La suscripción a boletines de correos electrónicos publicitarios <br> es voluntaria y 
            podría ser seleccionada al momento de crear su cuenta.           
            INKABUSINESS reserva los derechos de cambiar o de modificar estos <br>
            términos sin previo aviso</p>
<!-- FOOTER -->

<div class="footer">
  <footer class="bg-dark text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
          <ul class="list-unstyled mb-0">
            <li>
              <h6 style="color: #D4AC0D;">Comunícate con nostros:</h6>
            </li>
            <li>
              <h6 style="color: #D4AC0D;">Lima y Provincias
              <br> (01) 987 65432</h6>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
          <ul class="list-unstyled mb-0">
            <li>
              <h6 style="color: #D4AC0D;">Sobre Nosotros</h6>
            </li>
            <li>
              <a style="text-decoration: none; color: #D4AC0D;" href="nosotros.html" target="_blank">Conócenos</a>
            </li>
            <li>
              <h6 style="color: #D4AC0D;">Síguenos en:</h6>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
          <ul class="list-unstyled mb-0">
            <li>
              <h6 style="color: #D4AC0D; margin: 0 -65px;">Ayuda y Contacto</h6>
            </li>
            <li>
              <a style="text-decoration: none; color: #D4AC0D; margin: 0 -65px;" href="libro.html" target="_blank">Libro de Reclamaciones</a>
            </li>
            <li>
              <a style="text-decoration: none; color: #D4AC0D; margin: 0 -65px;" href="tyc.html" target="_blank">Términos y condiciones</a>
            </li>
          </ul>
        </div>

        <ul class="list-unstyled mb-0">
          <li>
            <img class="img" src="img/inka.png" alt="">
          </li>
          <br>
          <br>
        </ul>
      </div>
      </div>
    </div>

    <div class="redes">
      <a href="#"><img src="img/facebook.png" alt=""></a>
    </div>

    <div class="redes2">
      <a href="#"><img src="img/instagram.png" alt=""></a>
    </div>

    <div class="redes3">
      <a href="#"><img src="img/twiter.png" alt=""></a>
    </div>

    <div class="redes4">
      <a href="#"><img src="img/wsplogo.png" alt=""></a>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(36, 35, 35);">
      <h6 style="color: #ffffff; margin: 0px;">© 2022 Copyright: Inkabusiness.com</h6>
    </div>
    <!-- Copyright -->
  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>